{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student list{% endblock %}

{% block content %}
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-5">
            <div class="page-header">
                <h2>{{ student_info.surname }} {{ student_info.name }}</h2>
            </div>
              <p><img src="{% static 'images/sgrey.jpg' %}" class="img-circle user-profile-pic" alt="Grey" /></p>
        </div>
        <div class="col-md-6">
                  <div class="page-header">
                    <h2>Student's card</h2>
                </div>
        <table class="table table-bordered bold-first-col">
            <tr>
                <td>Birthdate</td>
                <td>{{ student_info.date_of_birth }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{ student_info.email }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ student_info.phone }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ student_info.address }}</td>
            </tr>
            <tr>
                <td>Skype</td>
                <td>{{ student_info.skype }}</td>
            </tr>
            <tr>
                <td>Courses</td>
                <td>{% for course in student_info.courses.all %}
                        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br/>
                    {% endfor %}</td>
            </tr>
        </table>
        </div>
     </div>
    </div>
{% endblock %}