{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student detail{% endblock %}

{% block content %}
      <div class="page-header">
          <h2>My.Academy students</h2>
      </div>
        <p>Here is the list of our best students so far. Please check them out.</p>

      {% include 'include/messages_include.html' %}
      <a href="{% url 'students:add' %}" role="button" class="btn btn-primary">Add new one</a>

      <div class="clearfix"><hr/></div>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>No</th>
                  <th>Fullname</th>
                  <th>Address</th>
                  <th>Skype</th>
                  <th>Courses</th>
                  <th colspan="2"></th>
              </tr>
          </thead>
          <tbody>
            {% for student in object_list %}
            <tr>
                <td>{{ student.id }}</td>
                <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
                <td>{{ student.address }}</td>
                <td>{{ student.skype }}</td>
                <td>
                    {% for course in student.courses.all %}
                        <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a>&nbsp;
                    {% endfor %}
                </td>
                <td>
                   <a href="{% url 'students:edit' student.id %}" role="button" class="btn btn-primary">Edit</a>
                </td>
                <td>
                   <a href="{% url 'students:remove' student.id %}" role="button" class="btn btn-primary">Remove</a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {% if is_paginated %}
        <nav>
          <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?course_id={{ request.GET.course_id }}&page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; previous</a></li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page %}
                    {% ifequal page page_obj.number %}
                        <li class="current page active"><a href="#">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?course_id={{ request.GET.course_id }}&page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?course_id={{ request.GET.course_id }}&page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">next &rsaquo;&rsaquo;</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
{% endblock %}