{% load staticfiles %}
{% url 'index' as index_url %}
{% url 'contact' as contact_url %}
{% url 'student_list' as student_list_url %}
{% url 'students:list_view' as student_list_view_url %}
{% url 'courses:detail' as course_detail_url %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if request.get_full_path == index_url %} class="active"{% endif %}><a href="{% url 'index' %}" title="Go to main page">Main</a></li>
            <li{% if request.get_full_path == contact_url %} class="active"{% endif %}><a href="{% url 'contact' %}" title="Go to contacts page">Contacts</a></li>
                <li{% if request.get_full_path == student_list_view_url %} class="active"{% endif %}><a href="{% url 'students:list_view' %}?course_id={{ course.id }}" title="Go to students page">Students</a></li>
            {% if request.get_full_path == course_detail_url %}
                <li{% if request.get_full_path == student_list_url %} class="active"{% endif %}><a href="{% url 'student_list' %}" title="Go to students page">Students</a></li>
            {% else %}
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>