/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2016, 8:25:55 PM
    Author     : yuriyr
*/

.navbar-brand {
    font-size: x-large;
}

.course-title {
    font-size: large;
    padding-top: 18px;
}

.course-child {
    margin-left: 15px;
    list-style-type: circle;
}

.course-description {
    display: block;
    font-size: small;
    padding-bottom: 8px;
}

.bottom-image {
    position: fixed;
    bottom: 5%;
    right: 20%;
}

img { border: 0; }

/*  contacts  */

.our-gods {
    padding-top: 150px;
    width: 100%;
    display: inline-block;
}

.god-item {
    width: 30%;
    padding: 10px;
    float: left;
    display: block;
    text-align: center;
    overflow: hidden;
}

.god-item span {
    font-weight: 700;
}

.our-gods img {
    height: 250px;
    width: 250px;
    overflow:hidden;
}

.god-image {
    max-width: 250px;
    max-height: 250px;
}