/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2016, 8:25:55 PM
    Author     : yuriyr
*/

.jumbotron {
    padding-top: 15px;
    padding-bottom: 25px;
}

.navbar-brand {
    font-size: x-large;
}

.course-title {
    font-size: large;
    padding-top: 18px;
}

.course-child {
    margin-left: 15px;
    list-style-type: circle;
}

.course-description {
    display: block;
    font-size: small;
    padding-bottom: 8px;
}

.bottom-image {
    position: fixed;
    bottom: 5%;
    right: 20%;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top:20px;
} 

img { border: 0; }

/*  contacts  */

.our-gods {
    padding-top: 70px;
    width: 100%;
    display: inline-block;
}

.god-item {
    width: 30%;
    padding: 10px;
    float: left;
    display: block;
    text-align: center;
    overflow: hidden;
}

.god-item span {
    font-weight: 700;
}

.our-gods img {
    height: 250px;
    width: 250px;
    overflow:hidden;
}

.god-image {
    max-width: 250px;
    max-height: 250px;
}

/* students page */

.user-profile-pic {
    width: 90%;
    padding-left: 5%;
}

.padding-page {
    margin-top: 60px;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
    align-content: center;
}

.bold-first-row thead {
    font-weight: 800;
}

.bold-first-col tr>td:first-child {
    font-weight: 800;
}

.alert-text {
    color: black;
}

form>p>label {
    width: 18%;
    text-align: right;
    margin-right: 15px;
}

form>p>input {
    width: 60%
}

form>input {
    margin-left: 20%;
}

select {
    color: black;
}