{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Contacts{% endblock %}

{% block content %}
      <div class="our-gods">
          <div class="god-item">
              <img src="{% static 'images/godofsex.jpg' %}" alt="God 1" class="img-circle" />
              <h3>Director</h3>
              <p><span class="glyphicon glyphicon-user">&nbsp;Name:</span>&nbsp;Hans Toney</p>
              <p><span class="glyphicon glyphicon-envelope">&nbsp;Email:</span>&nbsp;godofsex@hotmail.com</p>
              <p><span class="glyphicon glyphicon-phone">&nbsp;Phone:</span>&nbsp;+1 (450) 256-65-87</p>
              <p><span class="glyphicon glyphicon-headphones">&nbsp;Skype:</span>&nbsp;hanssolo</p>
          </div>
          <div class="god-item">
              <img src="{% static 'images/superwoman.jpg' %}" alt="God 2" class="img-circle" />
              <h2>Founder</h2>
              <p><span class="glyphicon glyphicon-user">&nbsp;Name:</span>&nbsp;Silvana Glisson</p>
              <p><span class="glyphicon glyphicon-envelope">&nbsp;Email:</span>&nbsp;silvana.glisson@poor.com</p>
              <p><span class="glyphicon glyphicon-phone">&nbsp;Phone:</span>&nbsp;+1 (450) 216-45-67</p>
              <p><span class="glyphicon glyphicon-headphones">&nbsp;Skype:</span>&nbsp;glisster</p>
          </div>
          <div class="god-item">
              <img src="{% static 'images/ueban.jpg' %}" alt="God 3" class="img-circle" />
              <h3>Manager</h3>
              <p><span class="glyphicon glyphicon-user">&nbsp;Name:</span>&nbsp;Darius Holtkamp</p>
              <p><span class="glyphicon glyphicon-envelope">&nbsp;Email:</span>&nbsp;darius@viber.com</p>
              <p><span class="glyphicon glyphicon-phone">&nbsp;Phone:</span>&nbsp;+1 (450) 213-15-61</p>
              <p><span class="glyphicon glyphicon-headphones">&nbsp;Skype:</span>&nbsp;holtkamp.ops</p>
          </div>
      </div>
        
      <hr/>
{% endblock %}