{% extends "base.html" %}
{% block title %}Main page{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h2>My.Academy course Description</h2>
        <p>Welcome to our awesome courses. There you can find the latest information about the WEB-development.
            Just take a look and choose the best chapter for learning.</p>
      </div>

      <div class="page-header">
          <h2>Courses Program</h2>
      </div>
      {% include 'include/messages_include.html' %}
      <a href="{% url 'courses:add' %}" role="button" class="btn btn-primary">Add new course</a>
        <ul>
            {% for course in courses %}
            <li class="course-title"><a href="/courses/{{ course.id }}/">{{ course.name|upper }}</a><span class="label label-primary">${{ course.id }}99.99</span>
                <span class="course-description">{{ course.short_description|title }}</span>
                <a href="{% url 'courses:edit' course.id %}" role="button" class="btn btn-primary">Edit</a>
                <a href="{% url 'courses:remove' course.id %}" role="button" class="btn btn-primary">Remove</a>
            </li>
            {% endfor %}
        </ul>

      {% include 'include/test_include.html' %}
      
{% endblock %}