{% extends "base.html" %}
{% block title %}Main page{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h2>My.Academy course Description</h2>
        <p>Welcome to our awesome courses. There you can find the latest information about the WEB-development.
            Just take a look and choose the best chapter for learning.</p>
      </div>

      <div class="page-header">
          <h2>Courses Program</h2>
      </div>
        <ul>
            {% for course in courses %}
            <li class="course-title"><a href="/courses/{{ course.id }}/">{{ course.name|upper }}</a><span class="label label-primary">${{ course.id }}99.99</span>
                <span class="course-description">{{ course.short_description|title }}</span>
            </li>
            {% endfor %}
        </ul>

      <div class="page-header">
          <h2>Subscribe for our courses <span class="label label-primary">right now!</span></h2>
          <form class="form-inline" action="#" method="POST">
                <input class="form-control input-lg" value="Enter your email here..." name='email' id='email' onclick='checktext();'/>
                <button type="button" class="btn btn-lg btn-success">Success</button>
          </form>
      </div>
      
{% endblock %}