{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student list{% endblock %}

{% block content %}
      <div class="page-header">
          <h2>My.Academy students</h2>
      </div>
        <p>Here is the list of our best students so far. Please check them out.</p>

      <div class="clearfix"><hr/></div>

      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>No</th>
                  <th>Surname</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Skype</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><a href="{% url 'student_detail' %}">1</a></td>
                  <td>Susan</td>
                  <td>Gray</td>
                  <td>4495 Hardesty Street, Albany, NY 12207</td>
                  <td>SusanAGray4ik</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Wayne</td>
                  <td>Cowan</td>
                  <td>84 Colonial Drive, Bryan, TX 77803</td>
                  <td>Suffell75</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Richard</td>
                  <td>Nolan</td>
                  <td>1898 Goodwin Avenue, Yakima, WA 98901</td>
                  <td>Dowerat</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>Jennifer</td>
                  <td>Vogel</td>
                  <td>3928 Washington Avenue, Hattiesburg, MS 39402</td>
                  <td>Dickclonsund</td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>Latonya</td>
                  <td>Scott</td>
                  <td>4966 Raver Croft Drive, Johnson City, TN 37601</td>
                  <td>Colened</td>
              </tr>
              <tr>
                  <td>6</td>
                  <td>Marco</td>
                  <td>Sommer</td>
                  <td>2157 Strother Street, Leeds, AL 35094</td>
                  <td>chijapan</td>
              </tr>
              <tr>
                  <td>7</td>
                  <td>Carl</td>
                  <td>Haggerty</td>
                  <td>2548 Ridenour Street, Sunrise, FL 33323</td>
                  <td>mynameisCarl_CARL</td>
              </tr>
              <tr>
                  <td>8</td>
                  <td>Magnolia</td>
                  <td>Anderson</td>
                  <td>4262 Bungalow Road, Sterling, NE 68443</td>
                  <td>Nognificke</td>
              </tr>
              <tr>
                  <td>9</td>
                  <td>Brenda</td>
                  <td>Bruning</td>
                  <td>3929 Boring Lane, Oakland, CA 94612</td>
                  <td>Osgrot</td>
              </tr>
              <tr>
                  <td>10</td>
                  <td>Dennis</td>
                  <td>Huanos</td>
                  <td>Somewhere in Mexico</td>
                  <td>Please1965</td>
              </tr>
          </tbody>
      </table>
{% endblock %}