{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student detail{% endblock %}

{% block content %}
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-5">    
            <div class="page-header">
                <h2>Susan Gray</h2>
            </div>
              <p><img src="{% static 'images/sgrey.jpg' %}" class="img-circle user-profile-pic" alt="Grey" /></p>
        </div>
        <div class="col-md-6">
                  <div class="page-header">
                    <h2>Student's card</h2>
                </div>
        <table class="table table-bordered bold-first-col">
            <tr>
                <td>Surname</td>
                <td>Gray</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Susan</td>
            </tr>
            <tr>
                <td>Patronymic</td>
                <td>Aleksandrovna</td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Average Grade</td>
                <td>3.0</td>
            </tr>
            <tr>
                <td>Package</td>
                <td>Bi-standard</td>
            </tr>
            <tr>
                <td>Post</td>
                <td>12207</td>
            </tr>
            <tr>
                <td>Birth Date</td>
                <td>March 14, 1988</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>4495 Hardesty Street, Albany, NY</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>SusanAGray@inwholepost.com</td>
            </tr>
            <tr>
                <td>Skype</td>
                <td>SusanAGray4ik</td>
            </tr>
        </table>
        </div>
     </div>
    </div>

      <div class="page-header">
          <h2>Performance</h2>
      </div>
      
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
        <table class="table table-bordered text-center bold-first-row">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Week</th>
                    <th>Control Type</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="5" class="vert-align">HTML &amp; CSS</td>
                    <td rowspan="3" class="vert-align">Week 1</td>
                    <td>Tests</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Problem Task #1</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Problem Task #2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td rowspan="2" class="vert-align">Week 2</td>
                    <td>Tests</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Problem Task #1</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
        </div>
     </div>
    </div>
{% endblock %}