{% extends "base.html" %}
{% block title %}Course detail{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h2>{{ course_info }}</h2>
        <p>{{ course_info.description|truncatechars:32 }}</p>
      </div>

      <div class="page-header">
            <h2>Mentors on this course:</h2>
      </div>

    {% if course_info.coach %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Coach</h3>
          </div>
          <div class="panel-body">
            <a href="{% url 'coaches:detail' course_info.coach.id %}">{{ course_info.coach.first_name }} {{ course_info.coach.last_name }}</a><br/>
            <p>{{ course_info.coach.description }}</p>
          </div>
        </div>
    {% endif %}
    {% if course_info.assistant %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Assistant</h3>
          </div>
          <div class="panel-body">
            <a href="{% url 'coaches:detail' course_info.assistant.id %}">{{ course_info.assistant.first_name }} {{ course_info.assistant.last_name }}</a><br/>
            <p>{{ course_info.assistant.description }}</p>
          </div>
        </div>
    {% endif %}

    <a href="{% url 'courses:add_lesson' course_info.id %}" role="button" class="btn btn-primary">Add new lesson</a>

      <div class="page-header">
          <h2>{{ course_info }} program:</h2>
      </div>
        <table class="table table-bordered bold-first-col">
            <tbody><tr>
                <td>#</td>
                <td>Subject</td>
                <td>Description</td>
            </tr>
            {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.order }}</td>
                <td>{{ lesson.subject }}</td>
                <td>{{ lesson.description }}</td>
            </tr>
            {% endfor %}
        </tbody></table>
{% endblock %}