{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student list{% endblock %}

{% block content %}
      <div class="container-fluid">
        <div class="row">
            <h3>Edit course data</h3>
            {% include 'include/messages_include.html' %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Edit" class="btn btn-primary">
            </form>
         </div>
      </div>
{% endblock %}